{% extends 'base.html' %}

{% block content %}

        <h2>Expense: {{expense.title}}</h2>
        <h3>Description: {{expense.desc}}</h3>
        <p>Price: {{expense.price}}</p>


        {% for note in expense.notes.all %}
        <div class = "note">
            <p>Note: {{ note.text }}</p>
            <a class="btn btn-default" href="{% url 'note_edit' pk=note.pk %}">EDIT</a>

        </div>
    {% empty %}
    <p>No notes here yet :(</p>
<a class="btn btn-default" href="{% url 'add_note_to_post' pk=expense.pk %}">Add note</a>

{% endfor %}

{% endblock %}

