{% extends "base_generic.html" %}

{% block content %}
<h1>Expenses List</h1>

{% if expenses %}
      {% for n in expenses %}
        <div>

          <div class="post-title-text">Title: {{ n.title }}</div><br>
          <div class="post-text">Description: {{ n.desc|linebreaksbr }}</div>
            <br>
            <div>{{n.date}}</div>
          <div class="signature-text">SUM: {{n.price}}</div>

            <div class="container create-new-cont font-cont" id = "buttons_container">
                <button class = "btn btn-times" id = "close_form"><i class="fa fa-times" aria-hidden="true"></i>EDIT</button>
              <button type="submit" class="btn btn-add" id = "add_comment"><i class="fa fa-check" aria-hidden="true"></i>DELETE</button>
             </div>

        </div>
      {% endfor %}
      {%else%}
      <div class="row">
          <div class="col-md-12">
            <h1 class = "hello-text">There's no expenses yet...</h1>
          </div>
        </div>
      {%endif%}


{% endblock %}